<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login Page • CS4241 Assignment 3</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="To do list">
    <script src="js/login.js"></script>
    <link rel="stylesheet" href="css/login.css">
    <!-- get rid of favicon error -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="parent-div">
        <div class="login-box">
            <a href="/auth/github">Login with github</a>
        </div>
    </div>
</body>

</html>