<!DOCTYPE html>
<html lang="en">

<head>
    <title>Todo List • CS4241 Assignment 3</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="To do list">
    <script src="js/main.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <link rel="stylesheet" href="css/main.css">
    <!-- get rid of favicon error -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
        rel="stylesheet">
</head>

<body>
    <!-- <h2>Add Task</h    2> -->
    <% if (!user) { %>
        <a href="/auth/github">Log in with GitHub</a>
        <% } else { %>
            <header>
                <a href="/logout">Logout</a>
            </header>
            <div class="input-container">
                <p>Add Task</p>
                <div class="filler"></div>
                <label id="name-label" for="input-name">Task Name</label>
                <label id="date-label" for="input-date">Due Date</label>
                <div class="filler"></div>
                <label><input id="input-name" type="text" placeholder="Task"></label>
                <label><input id="input-date" type="date" value="2024-09-12"></label>
                <label><button id="add-new-task">Add</button></label>
            </div>
            <div class="table-container">
                <label class="task header" for="task-input">Task</label>
                <label class="due-date header" for="due-input">Due</label>
                <label class="done-box header" for="done-box">Done</label>
                <label class="days-left header">Days Left</label>
                <div class="data" id="data">
                    <!-- <div class="data-row">
                <input class="task" value="Test Task 1" id="task-input"></input>
                <label class="due-date">11/29/24</label>
                <label class="done-box"><input class="done-box" type="checkbox"><span class="checkable"></span></label>
                <label class="days-left">2</label>
            </div> -->
                </div>


                <!-- <h2>Add task</h2>
        <table id="entry-table" class="primary">
            <thead>
                <th>Task</th>
                <th>Due</th>
                <th></th>
            </thead>
            <tbody>
                <tr>
                    <td><input type=" text" id="input-name"></td>
                    <td><input type="date" id="input-date"></td>
                    <td><button type="submit">Add</button></td>
                </tr>
            </tbody>
        </table>

        <table id="data-table">
            <thead>
                <th>Task</th>
                <th>Due</th>
                <th>Done</th>
                <th>Days Left</th>
            </thead>
            <tbody>
                <tr>
                    <td>Test Task 1</td>
                    <td>11/29/24</td>
                    <td><label><input type="checkbox"><span class="checkable"></span></label></td>
                    <td>2</td>
                </tr>
            </tbody>
        </table> -->
            </div>
            <% } %>
</body>