@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

html, body {
  height: auto;
  min-height: 100vh;
  margin: 0;
}

body {
  background: linear-gradient(to right, #95D3D0, #C2D6BE, #D2AC8A);
  font-family: 'Montserrat', Italic, serif;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

#header {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  padding-top: 20px;
}

.form-box {
  width: 100%;
  max-width: 500px;  /* Limit width for better responsiveness */
  margin: 0 auto;
}

.centered-table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

.centered-table th, .centered-table td {
  padding: 10px;
}

.centered-table th {
  font-weight: bold;
}
